* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;

}

.about-li {
    color: rgb(255, 255, 255);
}

.about-li:hover {
    color: rgb(168, 165, 165);
}

.about-page {
        background: url('http://localhost/cwdportfolio/IMG/header3.jpg');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
}

.about-page-heading {
    text-align: center;
    color: #fff;
    font-size: 3vw;
    text-transform: uppercase;
    font-family: monospace;
    padding: 2vw 0 3vw 0;
}

.about-page-content {
	padding-bottom: 5rem;
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
}
.about-page-text:hover{
    background-color: #222;
    cursor: pointer;
}

.about-page-text {
	width: 50%;
	background: transparent;
	padding: 30px;
	border-radius: 30px;
	backdrop-filter: blur(60px);
	margin-top: 4rem;
	transition: all 0.2s ease-in;
	border-bottom: 1px solid aliceblue;
	border-top: 1px solid aliceblue;
}

.about-page-text h3 {
    font-size: 2.6rem;
    margin: 10px 0;
}

.about-page-text:nth-child(1) {
        font-size: 1.3rem;
        margin-top: 10px;
}

.about-page-text p {
    margin: 25px 0;
    font-size: 1.1rem;
}
.about-content-btn {
	background: transparent;
	color: white;
	padding: 6px 24px;
	font-size: 1.1rem;
	font-weight: bold;
	margin: 60px 0 16px 27px;
	width: fit-content;
}
.about-content-btn:hover {
    cursor: pointer;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
	background-color: #fff;
	color: #000;
    border: 1px solid;
    transition: all 0.2s ease-in;
}
@keyframes maincontent {
    0% {
        left: 40vw;
    }


    100% {
        left: 0vw;
    }

}

.about-page-content img {
	object-fit: cover;
	width: 28%;
	margin-top: 4vw;
	animation: mainimg 0.4s ease-in;
	margin-right: 4rem;
}

@keyframes mainimg {
    0% {
        left: -36vw;
    }


    100% {
        left: 0vw;
    }

}